/src/Ata/                 
/src/FAT32/                          
/src/NetworkPort/   
/src/Utils/
/src/CommonLib/           
/src/HAL/                             
/src/NetworkStack/  
/src/Volume/
/src/CommonLibUnitTests/  
                   
/src/PE_Parser/     
/src/shared/
/src/Disk/                       
/src/SwapFS/
/src/Eth_82574L/          
/src/Usermode/

/src/HAL9000/HAL9000.ruleset
/src/HAL9000/HAL9000.vcxproj
/src/HAL9000/HAL9000.vcxproj.filters
/src/HAL9000/HAL9000.vcxproj.user
/src/.vs/HAL9000/v16/Browse.VC.opendb
 
VM/  
acpi/  
bin/  
docs/ 
latex/  
postbuild/  
temp/  
tests/  
tools/
